@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'); */

:root {
  --font-lexend: 'Lexend', sans-serif;
}

body {
 color: #030516;
    font-family: var(--font-lexend);
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.6875em;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    -webkit-font-smoothing: antialiased;
}


@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
    
  .section-padding {
    @apply px-2 md:px-10 lg:px-14 xl:px-28;
  }
   .section-padding-wide {
    @apply px-[11rem];
  }

  @media (min-width: 1280px) {
    .section-padding-wide {
      @apply px-[19.3rem];
    }
     .section-margin {
      @apply mx-28; /* 7rem */
    }
     .section-margin-wide {
      @apply mx-[19.3rem];
    }
  }

  .section-margin {
    @apply mx-5; /* 1.25rem */
  }

  @media (min-width: 768px) {
    .section-margin {
      @apply mx-10; /* 2.5rem */
    }
     .section-margin-wide {
      @apply mx-10; /* 2.5rem */
    }
  }

  @media (min-width: 1024px) {
    .section-margin {
      @apply mx-14; /* 3.5rem */
    }
     .section-margin-wide {
      @apply mx-[11rem];
    }
  }

  .section-margin-wide {
    @apply mx-5; /* 1.25rem */
  }
}

  .h1 {
    @apply text-[24px] leading-[42px] font-bold;
  }

 .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }
    .button {
    @apply text-[14px] leading-[20px] font-medium;
  }
    .primary-btn {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full button !important;
  }
  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
  .overline {
    @apply text-[10px] leading-[14px] font-normal;
  }

   .input-label {
    @apply text-[1rem] text-left text-gray-700 !important;
  }

  .input-element {
    @apply bg-light-300 text-left placeholder:text-gray-600 border-gray-300 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 rounded-[5px] !important;
  }

   .file-upload {
    @apply text-[1rem] flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-gray-300 bg-light-300 p-5;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-gray-700;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-input {
    @apply border-none shadow-none p-2 shad-no-focus placeholder:text-light-200 body-2 !important;
  }

  .shad-form-item {
    @apply flex h-[78px] flex-col justify-center rounded-xl border border-light-300 px-4 shadow-drop-1;
  }
  .shad-form-label {
    @apply text-light-100 pt-2 pl-1 body-2 w-full !important;
  }
  .shad-form-message {
    @apply text-red text-left body-2 ml-4 !important;
  }
  .shad-alert-dialog {
    @apply space-y-4 max-w-[95%] sm:w-fit rounded-xl md:rounded-[30px] px-4 md:px-8 py-10 bg-white outline-none !important;
  }
  .shad-submit-btn {
    @apply bg-brand button hover:bg-brand-100 transition-all rounded-full !important;
  }
  .shad-otp {
    @apply w-full flex gap-1 sm:gap-2 justify-between !important;
  }
  .shad-otp-slot {
    @apply text-[40px] font-medium rounded-xl ring-brand shadow-drop-1 text-brand-100 justify-center flex border-2 border-light-300 size-12 md:size-16 gap-5 !important;
  }

  .shad-sheet {
    @apply pt-0 !important;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none outline-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-dropdown-item {
    @apply cursor-pointer !important;
  }
  .shad-dialog {
    @apply rounded-[26px] w-[90%] max-w-[400px] px-6 py-8   !important;
  }
  .shad-chart-title {
    @apply text-white !important;
  }
  .shad-select-item {
    @apply cursor-pointer !important;
  }

  .auth-form {
    @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8 !important;
  }
  .form-title {
    @apply h1 text-center text-light-100 md:text-left !important;
  }
  .form-submit-button {
    @apply primary-btn h-[66px] !important;
  }
  .error-message {
    @apply body-2 mx-auto w-fit rounded-xl bg-error/5 px-8 py-4 text-center text-error !important;
  }

.typing {
  overflow: hidden;
  display: inline-block;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

